<div class="ms-Grid">
	<div class="ms-Grid-row">
		<!-- App navigation bar markup. -->
		<div class="ms-NavBar">
			<ul class="ms-NavBar-items">
				<li class="navbar-header">Node MS Graph Test</li>
			</ul>
		</div>

		<!-- App main content markup. -->
		<div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
			<div>
				<p class="ms-font-xl">Use the button below to connect to Node MS Graph Test.</p>
				<button id="connect_button" class="ms-Button" onclick="window.location.href='login'">
					<span class="ms-Button-label">Connect to Node MS Graph Test</span>
				</button>
			</div>
		</div>
	</div>
</div>
